body {
    font-family: Courier New, Monaco, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('bg1.gif');
    background-size: cover;
    margin: 0;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    background: url('bg5.gif');
    background-size: cover;
    background-position: center;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

h1 {
    color: #ffffff;
    animation: zoomIn 1s ease-in-out;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.password-settings {
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out 0.5s forwards;
    opacity: 0;
}

input[type="number"], textarea {
    width: 89%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

button {
    padding: 10px 20px;
    font-family: Courier New, Monaco, monospace;
    margin: 10px;
    border: none;
    background-color: rgba(0, 123, 255, 0.3);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    animation: fadeIn 1s ease-in-out 1.5s forwards;
    opacity: 0;
}

button:hover {
    background-color: rgba(0, 123, 255, 0.5);
}

.links {
    margin-top: 35px;
}

.links a {
    color: #007BFF;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

label {
  color: #ffffff;
  display: flex;
  overflow: none;
}

.icon {
   position: absolute;
   top: 10px;
   font-size: 24px;
   cursor: pointer;
}
 .discord-icon {
    left: 10px;
    color: #5865F2;
    overflow: hidden;
}
 .github-icon {
    left: 50px;
    color: #333;
}
